* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 1rem;
  background-color: #e3f4ff;
  border-radius: 0.5rem;
}
.nav {
  width: 70%;
  margin: 0 auto 0.3rem auto;
  background: #e3f4ff;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  height: 4rem;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 1rem;
  padding-top: 0.3rem;
}

.searchForm {
  width: 35%;
  display: flex;
  margin-right: 1rem;
}

.searchInput {
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-size: 0.9rem;
  text-indent: 0.5rem;
  border: 1px solid #107cc3dc;
  display: block;
}
.searchInput:focus {
  outline: none;
  -webkit-box-shadow: 2px 3px 12px -5px rgba(45, 163, 224, 1);
  -moz-box-shadow: 2px 3px 12px -5px rgba(45, 163, 224, 1);
  box-shadow: 2px 3px 12px -5px rgba(45, 163, 224, 1);
}

.searchIcon {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 28px;
  cursor: default;
  opacity: 0.8;
}

.searchButton {
  width: 50%;
  margin-left: -1rem;
  background-color: #5dadee85;
  transition: 0.5s;
  color: #116094;
  border-radius: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #116094;
  -webkit-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
}

.searchButton:hover {
  background-color: #1c6494dc;
  color: #fff;
  cursor: pointer;
}

.pokedex li {
  display: inline-block;
  border-radius: 0.75rem;
  padding: 0.5rem;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.685);
  -webkit-box-shadow: 6px 7px 28px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 7px 28px -16px rgba(66, 68, 90, 1);
  box-shadow: 6px 7px 28px -16px rgba(66, 68, 90, 1);
  border: 1px solid rgba(66, 68, 90, 0.452);
  margin: 0.5%;
  cursor: pointer;
}
.pokedex li:hover {
  -webkit-box-shadow: inset 0px 0px 16px 0px rgba(19, 152, 253, 0.561);
  -moz-box-shadow: inset 0px 0px 16px 0px rgba(19, 152, 253, 0.561);
  box-shadow: inset 0px 0px 16px 0px rgba(19, 152, 253, 0.561);
}
.notFound {
  margin: 2rem;
  color: salmon;
  text-align: center;
}

.name {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.params {
  text-align: center;
  padding: 0.5rem;
  background-color: #314755;
  color: rgb(247, 248, 210);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem auto;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.types span:last-child {
  display: none;
}

.type {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}

.type:first-child {
  margin-right: 5px;
}

.pokeCard {
  width: 24%;
}

li img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  margin: 0 auto;
  margin-bottom: -0.75rem;
  transition: 0.5s;
}

.spriteModal {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: -1rem auto -1rem auto;
}

.paramsModal {
  text-align: center;
  padding: 0.5rem;
  background-color: #314755;
  color: rgb(233, 233, 233);
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}

div.paramsModal {
  margin-bottom: 0;
  border-radius: 0.75rem 0.75rem 0 0;
}

.nameModal {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
.typesModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 0.75rem;
}

.typesModal span:last-child {
  display: none;
}
.desc {
  text-align: center;
  padding: 0.5rem;
  background-color: #587b92;
  color: rgb(240, 240, 234);
  border-radius: 0 0 0.75rem 0.75rem;
  margin-bottom: 0.5rem;
}

.typeModal {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7rem;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 0.75rem;
}

.typeModal:first-child {
  margin-right: 5px;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #479ad185;
  width: 150px;
  height: 50px;
  transition: 0.5s;
  border: 1px solid #116094;
  font-size: 1rem;
  text-transform: uppercase;
  color: #116094;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
}

.loadMore:hover {
  background-color: #1c6494dc;
  color: #fff;
  cursor: pointer;
}
.typesButtons {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #41a9ee4d;
  display: inline-block;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  -webkit-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
}
.typesButtons select {
  margin-left: 0.25rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.typesButtons button {
  width: 10rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
  box-shadow: 2px 3px 12px -5px rgba(66, 68, 90, 1);
}

.errorModal {
  background-color: rgba(231, 101, 69, 0.822) !important;
  color: rgb(251, 233, 233);
  text-align: center;
  width: 24% !important;
  border: 2px solid rgba(230, 0, 0, 0.548);
}
.errorModal span:first-child {
  top: 0;
  color: rgb(85, 0, 0);
}
.errorModal span:first-child:hover {
  padding-bottom: 5px;
  border-radius: 0 0.86rem 0.86rem 0;
  border-left: 1px solid rgb(85, 0, 0);;
  background-color: rgba(255, 4, 4, 0.37);
}
.errorModal img {
  position: relative;
  float: left;
  height: 1.75rem;
  bottom: 0.3rem;
  cursor: default;
  margin-bottom: -24px;
  margin-right: -2rem;
}

/* Loading */
.skDouble {
  width: 3em;
  height: 3em;
  position: relative;
  margin: auto;
}
.sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #337ab7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: skDouble 2s infinite ease-in-out;
}

.sk-double-bounce-2 {
  animation-delay: -1s;
}

@keyframes skDouble {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.darkLightIcon {
  position: relative;
  float: right;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -50px;
  cursor: default;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch .switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgb(19, 19, 19);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchInput:checked + .slider {
  background-color: #2196f3 !important;
}

.switchInput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark theme */
.dark {
  background-color: #121212;
}

.darkCont {
  background-color: #242424;
}

.darkCard {
  width: 24%;
  background-color: #181717cc !important;
  border: 1px solid rgba(255, 255, 255, 0.541) !important;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.144) !important;
  -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.144) !important;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.144) !important;
  color: white;

}

.darkCard:hover {
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(255, 255, 255, 0.486) !important;
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(255, 255, 255, 0.486) !important;
  box-shadow: inset 0px 0px 10px 1px rgba(255, 255, 255, 0.486) !important;
}

.darkNav {
  background-color: #242424;
}

.darkType {
  background-color: #181717cc;
  color: rgba(255, 255, 255, 0.801);
}

.darkButton {
  border: 1px solid #bedef3dc !important;
  color: white;
  background-color: #192227b4;
  -webkit-box-shadow: 0px 0px 10px -5px rgb(255, 255, 255) !important;
  -moz-box-shadow: 0px 0px 10px -5px rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 10px -5px rgb(255, 255, 255) !important;
}

@media (max-width: 768px) {
  .container {
    width: 97%;
  }
  .nav {
    width: 100%;
    height: auto;
  }

  .searchForm {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  .searchInput {
    margin-bottom: -0.25rem;
  }
  .searchButton {
    width: 100%;
    margin-top: -1rem;
    padding: 0.5rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  .searchIcon {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    top: -23px;
    right: 8px;
    cursor: default;
    opacity: 0.8;
  }
  .typesButtons {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .typesButtons button {
    width: 100%;
    margin: 0 0 0 0.25rem;
  }
  .typesButtons label {
    margin: 0 auto 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pokedex {
    width: 100%;
  }

  .pokedex li {
    width: 100%;
    margin: 0.25rem auto;
  }

  .pokedex li:first-child {
    margin-top: 0.5rem;
  }
  .pokedex img {
    height: 12rem;
    width: auto;
  }
  .loadMore {
    width: 100%;
  }
  .container {
    background-color: transparent;
  }
  .switch {
    right: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .searchInput {
    margin-left: -2.75rem;
    width: 10rem;
  }
  .searchButton {
    padding: 0 0.5rem;
  }
  .pokedex li {
    width: 49%;
  }
  .pokedex img {
    height: 12rem;
    width: auto;
  }
}
